{% extends 'base.html.twig' %}
 
{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <p><a class="btn btn-primary" href="{{ path('test_new') }}">+ 发表新闻</a></p>
            {% for entity in pagination %}
                <section>
                    <header><h2><a href="{{ path('test_show', { 'id': entity.id }) }}">{{ entity.testName }}</a></h2></header>
                    <p>{{ entity.summary }}</p>
                </section>
            {% endfor %}
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
 